h1 {
    color: green;
    text-align: center;
    text-decoration: underline;
}

/* a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
} */